/* Need to add fonts for certain sections */
:root {
    --off-white: #CBD6D4;
    --white: #FFFFFF;
    --black: #000000;
    --dark-gray: #8a8a8a;
    --light-gray: #BABABA;
    --dark-green: #005736;
    --light-green: #00b370;
}

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#hero-section {
    background-image: url(../images/hero.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

